#building_float

  %center
    = link_to image_tag(@building_image, :class => "round"), "../classrooms?utf8=✓&search%5Blocation_id_equals%5D=#{@building.id}"
  

  -#%b Department: 
    = @classroom.DEPT_GRP.gsub!(/_/, ' ')
  
  %br
  
  - if @owner.id == 1
    %em
      %b LSA ISS Classroom


  -# elsif @classroom.DEPT_GRP = 'SCHOOL_DENTISTRY'
    -#%em 
      -#%b Dental School
  -else
    %em
      %b Departmental Classroom
  %br
  

  %b Building: 
  = link_to @building.name, "../classrooms?utf8=✓&search%5Blocation_id_equals%5D=#{@building.id}"
  %br
  
  %b Name:
  %a{"data-original-title" => @classroom.location.name, "data-placement" => "right", :href => "#", :rel => "tooltip"} 
    
    = truncate(@classroom.location.name, :length => 25)
 
  %br
    %b Facility ID:
    = @classroom.facility_code_heprod  

  %b Capacity:  
  = @classroom.student_capacity  

  %br
  %br
    = link_to "Back to classrooms list", :back


  %br
  - if can? :update, @classroom
    %b
      = link_to 'Edit this room', edit_classroom_path
    

  -#= form_for @search do |f| 

    = f.label "Room Number"
    = f.text_field :facility_code_heprod_contains, :size => 8, :placeholder => "USB2230", :class => "round"
    = f.submit 
  

  -#
    %center#building_sign
      = link_to image_tag(@building_sign_image, :class => "round"), "../classrooms?utf8=✓&search%5Blocation_id_equals%5D=#{@building.locatable_id}"