#building_float
  = link_to image_tag(@building_image, :class => "img-rounded"), "../classrooms?utf8=✓&q%5Blocation_id_eq%5D=#{@building.id}"
  %br
  %b
    %em 
      = departmental_room?
  %br
  %b Building: 
  = link_to @building.name, "../classrooms?utf8=✓&q%5Blocation_id_eq%5D=#{@building.id}"
  %br
  %b Name: 
  = truncate(@classroom.location.name, :length => 25)

  %br
    
    %b Facility ID:
    %a{"data-original-title" => "Load the image for this room.", "data-placement" => "right", :href => "#{@classroom.location.picture.url(:show).to_s}", :rel => "tooltip", style: "color: black;"}
      = @classroom.facility_code_heprod
      

  %b Capacity:  
  = @classroom.student_capacity  

  %br
  %br
    = link_to "Back to classrooms list", :back