= form_for @classroom, :html => {multipart: true, class: 'classroom_form'} do |f|

  %h3 Attributes
  .inputs
    %i.fa.fa-lightbulb-o
    %a{"data-original-title" => "Room is either windowless or can be darkened with the use of specialized blinds for the purpose of film viewing, high resolution image viewing, etc.", "data-placement" => "right", :href => "#", :rel => "tooltip"} 
      = label_tag(:light_control)
    = check_box_tag(:light_control)
    
    
    #attribute_classroom_layout
      %b Layout:
      %ul
        %li
          %a{"data-original-title" => "Room provides a raised platform for the instructor.", "data-placement" => "right", :href => "#", :rel => "tooltip"}
            = label_tag(:layout_platform)
          = check_box_tag(:layout_platform)
        %li
          %a{"data-original-title" => "Room contains a stage in the front of the room.", "data-placement" => "right", :href => "#", :rel => "tooltip"}
            = label_tag(:layout_stage)
          = check_box_tag(:layout_stage)
        %li
          %a{"data-original-title" => "Room contains a stage in the front of the room.", "data-placement" => "right", :href => "#", :rel => "tooltip"}   
            = label_tag(:layout_tiered)
          = check_box_tag(:layout_tiered)
    #attribute_seating
      %b Seating:
      %ul
        %li
          %a{"data-original-title" => "Room contains fixed chairs with tablet writing surface.", "data-placement" => "right", :href => "#", :rel => "tooltip"} 
            = label_tag(:seating_auditorium)
          = check_box_tag(:seating_auditorium)
        %li
          %a{"data-original-title" => "Room contains fixed chairs with no tablet.", "data-placement" => "right", :href => "#", :rel => "tooltip"}
            = label_tag(:seating_chairs_fixed)
          = check_box_tag(:seating_chairs_fixed)
        %li
          %a{"data-original-title" => "Room contains movable chairs with tablet writing surface.", "data-placement" => "right", :href => "#", :rel => "tooltip"}
            = label_tag(:seating_movable_tables_chairs)
          = check_box_tag(:seating_movable_tables_chairs)
        %li
          %a{"data-original-title" => "Room is set up in a seminar/conference style with seats surrounding large table.", "data-placement" => "right", :href => "#", :rel => "tooltip"}
            = label_tag(:seating_table_conference)
          = check_box_tag(:seating_table_conference)
        %li
          %a{"data-original-title" => "Room contains a table writing surface for students (fixed, movable, or seminar/conference).", "data-placement" => "right", :href => "#", :rel => "tooltip"}
            = label_tag(:seating_tables_any)
          = check_box_tag(:seating_tables_any)
        %li
          %a{"data-original-title" => "Room contains fixed table writing surface for students.", "data-placement" => "right", :href => "#", :rel => "tooltip"}
            = label_tag(:seating_tables_fixed)
          = check_box_tag(:seating_tables_fixed)
        %li
          %a{"data-original-title" => "Room has moveable table writing surface for students. Rooms w/ moveable tables should be considered fixed if: school/dept prohibits changing arrangement, tables are wired or attached so moving is not easy, or room does not allow for other arrangements.", "data-placement" => "right", :href => "#", :rel => "tooltip"}
            = label_tag(:seating_tables_moveable)
          = check_box_tag(:seating_tables_moveable)
      
    %hr
    %ul
      %li
        %i.fa.fa-bullhorn
        %a{"data-original-title" => "Room contains a sound system to amplify any of its A/V and IT components, such as computer or DVD/VCR.", "data-placement" => "right", :href => "#", :rel => "tooltip"}   
          = label_tag(:sound_amplification)
        = check_box_tag(:sound_amplification)
      %li
        %i.fa.fa-exchange
        %a{"data-original-title" => "Room provides a hardwired ethernet connection to a portion of student seats.", "data-placement" => "right", :href => "#", :rel => "tooltip"}
          = label_tag(:ethernet_students)
        = check_box_tag(:ethernet_students)
      %li
        %i.fa.fa-bolt
        %a{"data-original-title" => "Room contains power outlets for a portion of student seats.", "data-placement" => "right", :href => "#", :rel => "tooltip"}
          = label_tag(:power_students)
        = check_box_tag(:power_students)


    %hr
    #attribute_board
      %b Writing Surface:
      %ul
        %li
          %a{"data-original-title" => "Room contains a chalkboard writing surface of any size.", "data-placement" => "right", :href => "#", :rel => "tooltip"}
            = label_tag(:writing_surface_chalkboard_any)
          = check_box_tag(:writing_surface_chalkboard_any)
        %li
          %a{"data-original-title" => "Room contains a chalkboard writing surface of over 25 feet.", "data-placement" => "right", :href => "#", :rel => "tooltip"}
            = label_tag(:writing_surface_chalkboard_25ft)
          = check_box_tag(:writing_surface_chalkboard_25ft)
        %li
          %a{"data-original-title" => "Room contains a whiteboard writing surface of any size.", "data-placement" => "right", :href => "#", :rel => "tooltip"}
            = label_tag(:writing_surface_whiteboard_any)
          = check_box_tag(:writing_surface_whiteboard_any)
        %li
          %a{"data-original-title" => "Room contains a whiteboard writing surface of over 25 feet.", "data-placement" => "right", :href => "#", :rel => "tooltip"}
            = label_tag(:writing_surface_whiteboard_25ft)
          = check_box_tag(:writing_surface_whiteboard_25ft)
    
    %hr
    #attribute_computer_lab
    %b.fa.fa-desktop
      Computer Classroom:
      %ul
        
        %li
          %a{"data-original-title" => "Room contains either PC or MAC computers at each student workstation.", "data-placement" => "right", :href => "#", :rel => "tooltip"}
            = label_tag(:computer_classroom_any)
          = check_box_tag(:computer_classroom_any)
        %li
          %a{"data-original-title" => "Room contains Mac computers at each student workstation.", "data-placement" => "right", :href => "#", :rel => "tooltip"}
            = label_tag(:computer_classroom_mac)
          = check_box_tag(:computer_classroom_mac)
        %li
          %a{"data-original-title" => "Room contains PC computers at each student workstation.", "data-placement" => "right", :href => "#", :rel => "tooltip"}
            = label_tag(:computer_classroom_windows)
          = check_box_tag(:computer_classroom_windows)
        



      
    

%hr
OLD FORM BELOW
%hr    

= simple_form_for @classroom, :html => {:multipart => true} do |f|
  %pre.prettyprint.linenums.lang-rb
    :preserve
  - if notification = f.error_notification
    .alert.alert-error.fade.in
      %a.close{"data-dismiss" => "alert", :href => "#"} ×
      = notification
  
  .inputs
    .row.form-inline
      
      .col-md-5#edit_classroom_form

        = f.input :room_number, :wrapper => :prepend, :label => false do
          = content_tag :span, "Room #", :class => "add-on"
          = f.input_field :room_number, :placeholder => "AudB", :input_html => { :tabindex => '1', :class => 'col-md-1' }
          %br
          %br
          = content_tag :span, "rmrecnbr", :class => "add-on"
          = f.input_field :rmrecnbr, :placeholder => "2018729", :input_html => { :tabindex => '2' }
          
        = f.input :location_id, :collection => Location.where(:locatable_type => "Building").order("name ASC"), :prompt => "What Building is this room in?", :label => "Building", :input_html => { :class => "col-md-6" }
        %br

        = link_to "Add a Building", new_building_path, :style => "position: relative; left: 180px; bottom: 55px;", :target => "_blank"
        = f.input :DEPT_GRP, :collection => [['College of LSA','COLLEGE_OF_LSA'], ['School of Dentistry', 'SCHOOL_DENTISTRY']], :label => "Department"
        %br
        
        = f.input :owner_id, :collection => Owner.order("department_name ASC"), :prompt => "Who owns this space?", :label => "", :label_method => :department_name, :input_html => { :class => "col-md-8" }
        = link_to "Add an Owner", new_owner_path, :style => "position: relative; left: 245px; bottom: 30px;", :target => "_blank"
        = f.simple_fields_for :location, :html => {:class => "form "} do |loc|
          .search-query
          = loc.input :name, :wrapper => :prepend, :label => false do
            = content_tag :span, "Name", :class => "add-on"
            = loc.input_field :name, :placeholder => "Angell Hall Aud B"
          = loc.input :latitude, :wrapper => :prepend, :label => false do
            = content_tag :span, "Lat :", :class => "add-on"
            = loc.input_field :latitude, :as => "string", :class => "input-medium"

          = loc.input :longitude, :wrapper => :prepend, :label => false do
            = content_tag :span, "Long:", :class => "add-on"
            = loc.input_field :longitude, :as => "string", :class => "input-medium"

          = f.input :student_capacity, :wrapper => :prepend, :label => false do
            = content_tag :span, "Student Capacity:", :class => "add-on "
            = f.input_field :student_capacity, :as => "string", :class => "col-md-2" 
          <input id= "capacity_slider" type="range" min="0" max="1000" value="#{@classroom_student_capacity}" step="1" onchange="printValue('capacity_slider', 'classroom_student_capacity')" />
          %br
          %br
          = f.input :facility_code_heprod, :wrapper => :prepend, :label => false do
            = content_tag :span, "HeProd Code:", :class => "add-on "
            = f.input_field :facility_code_heprod, :as => "string", :class => "col-md-3", :placeholder => "AHAudB"
          *Combine the building short code with the room number
          
          %br
          %br
          = f.simple_fields_for :location do |loc|
            = loc.input :visible, :input_html => {:class => 'form-'}
            = loc.input :description, :input_html => { :class => "col-md-12", :rows => 5 }, :placeholder => "Classroom Description (will be displayed in map)"   
        
      
        
       
      
      #location_image_form.col-md-6
        -if @classroom.location.picture_file_name != nil
          = image_tag @classroom.location.picture.url.to_s
          %p.col-md-offset-4#update_image
            %b Change the image for this classroom.  
            %br
            %br
            = f.simple_fields_for :location, :html => { :multipart => true } do |loc|
              -# paperclip method
              = loc.file_field :picture
        - else
          %p
            %b Upload an image for this classroom.  
            %br
            %br
            = f.simple_fields_for :location do |loc|
              -# paperclip method
              = loc.file_field :picture 
        #maptest.gmap3
        
        -#<button onclick="myFunction()">Find current location</button>
        drag & drop the marker to update latitude & longitude         

    .row.col-md-12
      %h3 Attributes              
 
    #attributes_wrapper.col-md-12

      #room_design_section.col-md-5.form-horizontal
        #attribute_blackout
        %i.fa.fa-lightbulb
          = f.input :light_control
        %hr  
        #attribute_classroom_layout 
          Layout:
          = f.input :layout_platform
          = f.input :layout_stage
          = f.input :layout_tiered
        #attribute_seating
          Seating:
          = f.input :seating_auditorium
          = f.input :seating_chairs_fixed
          = f.input :seating_movable_tables_chairs
          = f.input :seating_table_conference
          = f.input :seating_tables_any
          = f.input :seating_tables_fixed
          = f.input :seating_tables_moveable
        %hr 
        %i.fa.fa-bullhorn  
        #attribute_sound_amplification
          = f.input :sound_amplification
        %i.fa.fa-exchange
        #attribute_network
          = f.input :ethernet_students
        %i.fa.fa-bolt
        #attribute_power_outlets
          = f.input :power_students
        %hr   
        #attribute_board
          Writing Surface:
          = f.input :writing_surface_chalkboard_any
          = f.input :writing_surface_chalkboard_25ft
          = f.input :writing_surface_whiteboard_any
          = f.input :writing_surface_whiteboard_25ft
          %i.fa.fa-desktop
          %b 
            Podium Computer
            %br
            %br
          #attribute_computer_lab
          Computer Classroom:
          = f.input :computer_classroom_any
          #attribute_podium_computer_mac
            = f.input :computer_classroom_mac
          #attribute_podium_computer_pc
            = f.input :computer_classroom_windows

      #equipment_section.col-md-5.form-horizontal
        #attribute_dvd
          DVD Player  
          = f.input :dvd_player_regular, :label => 'Standard'
          = f.input :dvd_player_blueray, :label => 'Blu-ray'
        %hr  
        #attribute_captioning_device  
          = f.input :captioning_device
        %hr  
        %i.fa.fa-laptop
        %b 
          Podium Computer
          %br
          %br
          = f.input :podium_computer_any
          #attribute_podium_computer_mac
            = f.input :podium_computer_mac
          #attribute_podium_computer_pc
            = f.input :podium_computer_windows
        #attribute_doc_camera  
          = f.input :document_camera
        #attribute_interactive_pen
          = f.input :interactive_pen
        #attribute_lecture_capture
          = f.input :lecture_capture
        #attribute_telephone
          = f.input :telephone
        #attribute_video_conferencing
          = f.input :video_conferencing
        %hr
        #attribute_projecters
          Projection:
          = f.input :projection_16mm_film
          = f.input :projection_35mm_file
          = f.input :projection_digital_data_video
          = f.input :projection_traditional_slide

        #notes_section
          #attribute_notes
            = f.input :notes, :input_html => {  :rows => 5 }
        #accessibility_section
          %h3
            Accessibility    
          #attribute_assisted_listening
            = f.input :assisted_listening
          #attribute_instructor_wheelchair_access
            = f.input :wheelchair_instructor  

    .row
      %hr
      %br
      %br
      .actions     
        = f.button :submit
        |
        = link_to "Cancel", @classroom
        
       

:javascript
  function showValue(newValue) {
    document.getElementById("classroom_student_capacity").innerHTML = newValue;
  }

  function printValue(sliderID, textbox) {
    var x = document.getElementById(textbox);
    var y = document.getElementById(sliderID);
    x.value = y.value;
  }
  window.onload = function () {
    printValue('slider1', 'rangeValue1');
    printValue('slider2', 'rangeValue2');
    printValue('slider3', 'rangeValue3');
    printValue('slider4', 'rangeValue4');
  }    
    


-#toggle the visability of the attributes and the disclosure triangle's state
:javascript
  $('.attributes_disclosure_wrapper h3').click(function () {
    $("div:contains('attributes_disclosure_wrapper')").toggleClass("attributes_disclosure_wrapper_active");
    $('#attributes_wrapper').toggle('fast', function () {});
  });

-# Auto update HeProd with building code and room number
:javascript
  $('#classroom_room_number').keyup(function () {
    var room_number = $('input#classroom_room_number').val()
    $('#classroom_facility_code_heprod').val(room_number);
    $('#classroom_location_attributes_name').val(room_number);
    $('#classroom_location_id').change(function () {
      var room_name = $('option:selected', this).html();
      $('#classroom_location_attributes_name').val(room_number + " " + room_name);
    });
  });



:javascript
   $('#maptest').gmap3({
     getgeoloc: {
       callback: function (latLng) {
         if (latLng) {
           $(this).gmap3({
             marker: {
               latLng: latLng,
               options: {
                 draggable: true
               },
               events: {
                 dragend: function (map, event) {
                   var myLatLng = event.latLng;
                   var lat = myLatLng.lat();
                   var lng = myLatLng.lng();
                   $('#classroom_location_attributes_latitude').val(lat);
                   $('#classroom_location_attributes_longitude').val(lng);
                 }
               }
             },
             map: {
               options: {
                 zoom: 17
               }
             }
           });
         } else {
           $('#test1-result').html('not localised !');
         }
       }
     }
   });
   

