= simple_form_for @classroom, :html => {:multipart => true} do |f|
  %pre.prettyprint.linenums.lang-rb
    :preserve
  - if notification = f.error_notification
    .alert.alert-error.fade.in
      %a.close{"data-dismiss" => "alert", :href => "#"} ×
      = notification
  %legend Edit Classroom
  .inputs
    .row-fluid.form-vertical
      .span5#edit_classroom_form

        = f.input :room_number, :wrapper => :prepend, :label => false do
          = content_tag :span, "Room #", :class => "add-on"
          = f.input_field :room_number, :placeholder => "AudB", :input_html => { :tabindex => '1', :class => 'span1' }
        = f.input :location_id, :collection => Location.where(:locatable_type => "Building").order("name ASC"), :prompt => "What Building is this room in?", :label => "Building", :input_html => { :class => "span6" }
        %br

        = link_to "Add a Building", new_building_path, :style => "position: relative; left: 180px; bottom: 45px;", :target => "_blank"

        = f.input :owner_id, :collection => Owner.order("department_name ASC"), :prompt => "Who owns this space?", :label => "", :label_method => :department_name, :input_html => { :class => "span8" }
        = link_to "Add an Owner", new_owner_path, :style => "position: relative; left: 245px; bottom: 30px;", :target => "_blank"
        = f.simple_fields_for :location, :html => {:class => "form-inline "} do |loc|
          .search-query
          = loc.input :name, :wrapper => :prepend, :label => false do
            = content_tag :span, "Name", :class => "add-on"
            = loc.input_field :name, :placeholder => "Angell Hall Aud B"
          = loc.input :latitude, :wrapper => :prepend, :label => false do
            = content_tag :span, "Lat :", :class => "add-on"
            = loc.input_field :latitude, :as => "string", :class => "input-medium"

          = loc.input :longitude, :wrapper => :prepend, :label => false do
            = content_tag :span, "Long:", :class => "add-on"
            = loc.input_field :longitude, :as => "string", :class => "input-medium"

          = f.input :student_capacity, :wrapper => :prepend, :label => false do
            = content_tag :span, "Student Capacity:", :class => "add-on "
            = f.input_field :student_capacity, :as => "string", :class => "span2" 
          <input id= "capacity_slider" type="range" min="0" max="1000" value="#{@classroom_student_capacity}" step="1" onchange="printValue('capacity_slider', 'classroom_student_capacity')" />
          %br
          %br
          = f.input :facility_code_heprod, :wrapper => :prepend, :label => false do
            = content_tag :span, "HeProd Code:", :class => "add-on "
            = f.input_field :facility_code_heprod, :as => "string", :class => "span3", :placeholder => "AHAudB"
          *Combine the building short code with the room number
          
          %br
          %br
          = f.simple_fields_for :location do |loc|
            = loc.input :visible, :input_html => {:class => 'form-horizontal'}
            = loc.input :description, :input_html => { :class => "span12", :rows => 5 }, :placeholder => "Classroom Description (will be displayed in map)"   
        
      .span6.offset1
        #editmap.gmap3  
        drag & drop the marker to see the address
        %br
        %br
        
      
        #location_image_form.span9
          -if @classroom.location.picture_file_name != nil
            = image_tag @classroom.location.picture.url.to_s
            %p.prepend-4#update_image
              %b Change the image for this classroom.  
              %br
              %br
              = f.simple_fields_for :location do |loc|
                -# paperclip method
                = loc.file_field :picture
          - else
            %p
              %b Upload an image for this classroom.  
              %br
              %br
              = f.simple_fields_for :location do |loc|
                -# paperclip method
                = loc.file_field :picture    
    
          

 
    .row.span12
      %h3 Attributes              
 
    #attributes_wrapper.span12

      #room_design_section.span5.form-horizontal
        #attribute_blackout
        %i.icon-lightbulb
          = f.input :light_control
        %hr  
        #attribute_classroom_layout 
          Layout:
          = f.input :layout_platform
          = f.input :layout_stage
          = f.input :layout_tiered
        #attribute_seating
          Seating:
          = f.input :seating_auditorium
          = f.input :seating_chairs_fixed
          = f.input :seating_movable_tables_chairs
          = f.input :seating_table_conference
          = f.input :seating_tables_any
          = f.input :seating_tables_fixed
          = f.input :seating_tables_moveable
        %hr 
        %i.icon-bullhorn  
        #attribute_sound_amplification
          = f.input :sound_amplification
        %i.icon-exchange
        #attribute_network
          = f.input :ethernet_students
        %i.icon-bolt
        #attribute_power_outlets
          = f.input :power_students
        %hr   
        #attribute_board
          Writing Surface:
          = f.input :writing_surface_chalkboard_any
          = f.input :writing_surface_chalkboard_25ft
          = f.input :writing_surface_whiteboard_any
          = f.input :writing_surface_whiteboard_25ft
          %i.icon-desktop
          %b 
            Podium Computer
            %br
            %br
          #attribute_computer_lab
          Computer Classroom:
          = f.input :computer_classroom_any
          #attribute_podium_computer_mac
            = f.input :computer_classroom_mac
          #attribute_podium_computer_pc
            = f.input :computer_classroom_windows

      #equipment_section.span5.form-horizontal
        #attribute_dvd
          DVD Player  
          = f.input :dvd_player_regular, :label => 'Standard'
          = f.input :dvd_player_blueray, :label => 'Blu-ray'
        %hr  
        #attribute_captioning_device  
          = f.input :captioning_device
        %hr  
        %i.icon-laptop
        %b 
          Podium Computer
          %br
          %br
          = f.input :podium_computer_any
          #attribute_podium_computer_mac
            = f.input :podium_computer_mac
          #attribute_podium_computer_pc
            = f.input :podium_computer_windows
        #attribute_doc_camera  
          = f.input :document_camera
        #attribute_interactive_pen
          = f.input :interactive_pen
        #attribute_lecture_capture
          = f.input :lecture_capture
        #attribute_telephone
          = f.input :telephone
        #attribute_video_conferencing
          = f.input :video_conferencing
        %hr
        #attribute_projecters
          Projection:
          = f.input :projection_16mm_film
          = f.input :projection_35mm_file
          = f.input :projection_digital_data_video
          = f.input :projection_traditional_slide

        #notes_section
          #attribute_notes
            = f.input :notes, :input_html => {  :rows => 5 }
        #accessibility_section
          %h3
            Accessibility    
          #attribute_assisted_listening
            = f.input :assisted_listening
          #attribute_instructor_wheelchair_access
            = f.input :wheelchair_instructor

   
      
        
    .row
      %hr
      %br
      %br
      .actions     
        = f.button :submit
        |
        = link_to "Cancel", @classroom
         
      
      

:javascript
  function showValue(newValue)
  {
    document.getElementById("classroom_student_capacity").innerHTML=newValue;}

  function printValue(sliderID, textbox) {
              var x = document.getElementById(textbox);
              var y = document.getElementById(sliderID);
              x.value = y.value;
          }
  window.onload = function() 
  { printValue('slider1', 'rangeValue1'); printValue('slider2', 'rangeValue2'); printValue('slider3', 'rangeValue3'); printValue('slider4', 'rangeValue4'); }        
    
:javascript
  $().ready(function() {
    $('#coda-slider-1').codaSlider();
  });

-#toggle the visability of the attributes and the disclosure triangle's state
:javascript
  $('.attributes_disclosure_wrapper h3').click(function() { 
  $("div:contains('attributes_disclosure_wrapper')").toggleClass("attributes_disclosure_wrapper_active");
  $('#attributes_wrapper').toggle('fast', function(){
    });
  });

-# Auto update HeProd with building code and room number
:javascript
  $('#classroom_room_number').keyup( function(){
    var room_number = $('input#classroom_room_number').val()
     $('#classroom_facility_code_heprod').val(room_number) ;
     $('#classroom_location_attributes_name').val(room_number) ;
  $('#classroom_location_id').change( function() {
    var room_name = $('option:selected', this).html();   
    $('#classroom_location_attributes_name').val(room_number + " " + room_name) ;
  } );
    });



:javascript
  
 
    $("#editmap").height("300px").width("100%").gmap3({
      marker:{
        latLng: [42.27799930039926, -83.73660256217954],
        options:{
          draggable:true
        },
        events:{
          dragend: function(marker){
          var position=marker.getPosition();
          var lat=position.lat();
          var lng=position.lng();
            $(this).gmap3({
              
     
              getaddress:{
                latLng:marker.getPosition(),
                callback:function(results){
                  var map = $(this).gmap3("get"),
                    infowindow = $(this).gmap3({get:"infowindow"}),
                    content = results && results[1] ? results && results[1].formatted_address  : "no address";
                  if (infowindow){
                    infowindow.open(map, marker);
                    infowindow.setContent(content);
                  } else {
                    $(this).gmap3({
                      infowindow:{
                        anchor:marker, 
                        options:{content: content}
                      }
                    });
                  }
                }
              }
            });
          }
        }
      },
      map:{
        options:{
          zoom: 15
        }
      }
    });
    
