:css
  @media print{
      .content{
          
          -webkit-transform: rotate(-90deg) scale(1.3, 1.3);
          -moz-transform:rotate(-90deg) scale(.95);
          filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
          
        }
      
        a:link:after, a:visited:after {
          content: "";
        }
      
        #back_to_classroom_link{
          display: none;
        }
        #header{
          display: none;
        }
        footer{
          display: none;
        }
        
     
      }
      

:css
  #classroom_image{
    margin-left: 50px;
    float: left;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;    
  }
  #seating_chart{   
    margin-top: 2%;
    max-width: 400px;
    
  }
  
  #qr_code{
    margin-top: 3em;
    width: 125px;
  }
  
  h2 a {
    color: #333;
  }
  h2 a:hover{
    color: black;
    text-decoration: none;
  }
  
  .content{
    
    
    
    clear: both;
    page-break-after: always;
  }

.row
  .span4
    %h2
      = link_to @page_title, @classroom
    %h4
      Student Capacity:
      = @classroom.student_capacity
  
    %br
    %br  
    %h3
      Feel free to rearrange but,
      Please put tables and chairs back  
  
   
  .span8
    = image_tag @classroom.location.picture.url(:show).to_s, :alt => @classroom_alt, :id => 'classroom_image'
    
.row
  .span4
    #qr_code
      = link_to (image_tag "../classrooms/#{@classroom.facility_code_heprod}.png"), @classroom
      
      
    #back_to_classroom_link
      = link_to @page_title, @classroom    
  .span8

  
    #seating_chart
      -#= image_tag "seating/CHEM1800_chairs.png"
      = image_tag  "seating/#{@classroom.facility_code_heprod}_chairs.png"
      
    



    
