#room_number
  %h1  
    = @classroom.location.name
-#= render :partial => "/classrooms/maps/#{basement}", :formats => [:html]
- if @classroom.location.visible? || user_signed_in?
  
  #image_nav
    %ul
      %li
        = link_to "Picture", "#1", :class => "xtrig",  :rel => "coda-slider-1"
      %li
        = link_to "Panorama", "#2", :class => "xtrig",  :rel => "coda-slider-1"
      %li
        = link_to "Map",  "#3", :class => "xtrig",  :rel => "coda-slider-1"
      %li
        = link_to "Contact",  "#4", :class => "xtrig",  :rel => "coda-slider-1"
 
  #classroom_top_section 
    = render :partial => 'building_float'  
  
    .coda-slider-wrapper.span-20   
      
      .coda-slider.preload#coda-slider-rooms
        .panel
          .panel-wrapper      
            = image_tag @classroom.location.picture.url(:show).to_s, :alt => @classroom_alt,   :height => "100%", :class => "room_image round"
        .panel
          .panel-wrapper
 
            #panorama.round
              %center
                %h2 This room does not have a panorama
                
        .panel
          .panel-wrapper.round
            <div id="map_canvas" style="width:100%; height:400px"></div>
        .panel
          .panel-wrapper.round
            #contact_sheet
              %b Department Name:
              = @owner.department_name
              %br
              %br
              %b Support Contact:
           
              = @owner.department_name
              ==> 
              = link_to @owner.contact_email, "mailto:"+@owner.contact_email
           

              %br
              %br
              %b Contact Phone:
              = @owner.contact_phone
              %br
              %br
              %b Room Schedule:
              = link_to "View Room Schedule", "https://heprod.dsc.umich.edu/services/facilitycalendar?facilityid=#{@classroom.facility_code_heprod }", :target => "_blank"
              %br
              %br
              %b Room Usage Guidelines: 
              None Available.  
              %br
              %br
              %b Floor Map: 
              #{link_to @classroom.location.name,  basement}


             


  #technician_required
    = technician_required

  = render :partial => 'show_room_attributes'

  - if user_signed_in?
    = link_to 'Edit', edit_classroom_path
    \|
  -#= link_to 'List', classrooms_path


  -#hide attributes that are not checked in the database

  :javascript
    $('input:checkbox').not(':checked').css({
      opacity: 0
  
    })
    $("input[type=checkbox][checked]").css({
      'opacity' : '0.0'
      })
    $("input[type=checkbox][checked]").parent().css({  
      'background': 'url(../assets/user_interface_elements/checked.png) no-repeat  190px -5px'  
  
    })
    $('input:checkbox').not(':checked').parent().css({
       'opacity': '0.5',
       'font-style': 'italic',
       'text-transform': 'lowercase',
       'font-size': '100%',
       'line-height': '80%',
       'text-decoration': 'line-through'
   
     })
     $('input:checkbox').not(':checked').next().css({
        'text-decoration': 'line-through'
      })

    $('input:checkbox').not(':checked').closest('#attribute_podium_computer_mac').css({
      'background' : 'transparent url() no-repeat  100px 10px'     
    })

    $('input:checkbox').not(':checked').closest('#attribute_podium_computer_pc').css({
      'background' : 'transparent url() no-repeat  100px 10px'      
    })
  :javascript
    $().ready(function() {
      $('#coda-slider-rooms').codaSlider({
      autoHeight: true,
      autoSlide: false,
      crossLinking: true,
      externalTriggerSelector: "a.xtrig",
      firstPanelToLoad: 1,
      panelTitleSelector: "h2.title",
      slideEaseDuration: 1000,
      slideEaseFunction: "easeInOutExpo"
      });
    });



  -#find location on a google map from lat/long in database
  :javascript
    function initialize() {
      var latlng = new google.maps.LatLng(#{@classroom.location.latitude.to_s},#{@classroom.location.longitude.to_s});
      var myOptions = {
        zoom: 16,
        center: latlng,
        mapTypeId: google.maps.MapTypeId.ROADMAP
      }
      var map = new google.maps.Map(document.getElementById("map_canvas"),
        myOptions);
        map.panBy(120, -70);

      var contentString = '<div id="content" style="width: auto; height:90px;" class = "round">'+
        '<div id="siteNotice" style="max-height: 125px;">'+
          '</div>'+
            '<div id="firstHeading" class="firstHeading ></div>'+
          '<div id="bodyContent">#{link_to image_tag(@building.picture.url(:medium).to_s, :style => "width: 110px; float: left; padding-right: 2em" ), "../classrooms?utf8=✓&search%5Blocation_id_equals%5D=#{@building.id}"} <span style="float: left;"><b>#{@building.name}<br /> #{@building.locatable.address}<br />#{link_to 'All Classrooms',  "../classrooms?utf8=✓&search%5Blocation_id_equals%5D=#{@building.id}"} <br /> #{link_to "Floor Map",  basement}</span></div>'
          '<div>  </div>'+
          '</div>';
      var infowindow = new google.maps.InfoWindow({
        content: contentString
      });

      var marker = new google.maps.Marker({
        position: latlng, 
        map: map,
        title:"#{@classroom.location.name}"
      });

      google.maps.event.addListener(marker, 'click', function() {
        infowindow.open(map,marker);
      });  
      infowindow.open(map,marker);  
    }

  - if @classroom.facility_code_heprod && FileTest.exists?(Rails.root + "public/system/videos/panoramas/#{@classroom.facility_code_heprod.upcase}_QTVR_OUT.xml")
    :javascript
      // use HTML5 panorama
      if (ggHasHtml5Css3D() || ggHasWebGL()){
        pano=new pano2vrPlayer("panorama");
        pano.readConfigUrl("/system/videos/panoramas/#{@classroom.facility_code_heprod.upcase}_QTVR_OUT.xml");
        }
        else{
        $("#panorama").replaceWith("<object CLASSID=\"clsid:02BF25D5-8C17-4B23-BC80-D3488ABDDC6B\" width=\"900\" height=\"330\" CODEBASE=\"http://www.apple.com/qtactivex/qtplugin.cab\" class=\"legacy_panorama\"> <param name=\"src\" value=\"/system/videos/panoramas/#{@classroom.facility_code_heprod.upcase}_QTVR.mov\"><param name=\"target\" value=\"myself\" /><param name=\"controller\" value=\"false\"><param name=\"scale\" value=\"tofit\"><param name=\"kioskmode\" value=\"true\"> <embed src=\"/system/videos/panoramas/#{@classroom.facility_code_heprod.upcase}_QTVR.mov\" width=\"900\" height=\"330\" scale=\"tofit\" target=\"myself\"  kioskmode=\"true\" loop=\"false\" controller=\"false\" pluginspage=\"http://www.apple.com/quicktime/\"></embed></object>"
        );
      }

- else
  This room is not visible
  
  
:javascript
$(document).ready(function(){
    var animateTime = 10,
        offsetStep = 5,
        scrollWrapper = $('#wrap');

    //event handling for buttons "left", "right"
    $('.bttR, .bttL')
        .mousedown(function() {
            scrollWrapper.data('loop', true);
            loopingAnimation($(this), $(this).is('.bttR') );
        })
        .bind("mouseup mouseout", function(){
            scrollWrapper.data('loop', false).stop();
            $(this).data('scrollLeft', this.scrollLeft);
        });

    scrollWrapper
        .mousedown(function(event) {
            $(this)
                .data('down', true)
                .data('x', event.clientX)
                .data('scrollLeft', this.scrollLeft);
            return false;
        })
        .mouseup(function (event) {
            $(this).data('down', false);
        })
        .mousemove(function (event) {
            if ($(this).data('down')) {
                this.scrollLeft = $(this).data('scrollLeft') + $(this).data('x') - event.clientX;
            }
        })
        .mousewheel(function (event, delta) {
            this.scrollLeft -= (delta * 30);
        })
        .css({
            'overflow' : 'hidden',
            'cursor' : '-moz-grab'
        });

    loopingAnimation = function(el, dir){
        if(scrollWrapper.data('loop')){
            var sign = (dir) ? offsetStep : -offsetStep;
            scrollWrapper[0].scrollLeft += sign;
            setTimeout( function(){ loopingAnimation(el,dir) }, animateTime );
                                   }
                        return false;
        }; 
})​
