%h1 Listing owners

%table
  %tr
    %th Department name
    %th Facility
    %th Contact name
    %th Contact phone
    %th Contact email
    %th Notes
    - if user_signed_in?
      %th
      %th
      %th

  - @owners.each do |owner|
    %tr
      %td= link_to owner.department_name, edit_owner_path(owner)
      %td= owner.facility_id
      %td= owner.contact_name
      %td= owner.contact_phone
      %td= owner.contact_email
      %td= owner.notes
      - if user_signed_in?
        %td= link_to 'Show', owner
        %td= link_to 'Edit', edit_owner_path(owner)
        %td= link_to 'Destroy', owner, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Owner', new_owner_path
