%p#notice= notice

%p
  %b Department name:
  = @owner.department_name
%p
  %b Facility:
  = @owner.facility_id
%p
  %b Contact name:
  = @owner.contact_name
%p
  %b Contact phone:
  = @owner.contact_phone
%p
  %b Contact email:
  = @owner.contact_email
%p
  %b URL:
  - if @owner.url?
    = link_to @owner.url, @owner.url  
  - else
    None available
%p
  %b Notes:
  = @owner.notes

- if user_signed_in?
  = link_to 'Edit', edit_owner_path(@owner)
  \|
  = link_to 'Back', owners_path
