
-#= link_to image_tag("BorrowedUofMPics/LawQuad.jpg", :alt => "Law Quad", :class => "round main_image"), root_path

-# Then somewhere in the <body> section -->
.main_image
  #slider-wrapper
    #slider
      = link_to image_tag("BorrowedUofMPics/LawQuad.jpg", :alt => "Law Quad", :class => "round main_image", :title => "LawQuad"), root_path
      = link_to image_tag("BorrowedUofMPics/Cube_Fall.jpg", :alt => "Cube", :class => "round main_image", :title => "Cube"), root_path
      = link_to image_tag("BorrowedUofMPics/League_Fountain.jpg", :alt => "Michigan League Fountain", :class => "round main_image", :title => "Michigan League Fountain"), root_path
      = link_to image_tag("BorrowedUofMPics/MichiganLeagueFountain_DSC.jpg", :alt => "Michigan League Fountain - DSC", :class => "round main_image", :title => "Michigan League Fountain - DSC"), root_path

      #LawQuad.nivo-html-caption
        = link_to "University of Michigan", "#"
       

#main_text
  %p
  %p 
    This website provides information and support for classrooms managed by LSA. You can search for a room that best meets the needs of your class or event, and access support information such as operating instructions for the installed equipment and contact information for additional help.

  %p
    To schedule the classrooms pictured on this website, instructors should contact the appropriate administrative staff in their department
 
    

#main_features
  %ul
    %li
      = link_to 'About ISS', about_url, :class => "button"
    %li
      = link_to 'Classrooms', classrooms_url, :class => "button"
    %li
      = link_to 'Equipment Loan', "http://www.lsa.umich.edu/iss/equipment", :class => "button", :target => "_blank"
    %li
      = link_to 'Instructional Support', about_url, :class => "button"


      
:javascript
      $(window).load(function() {
          $('#slider').nivoSlider(
          {
            effect:'sliceDown', // Specify sets like: 'fold,fade,sliceDown'
            slices:1, // For slice animations
            boxCols: 8, // For box animations
            boxRows: 4, // For box animations
            animSpeed:800, // Slide transition speed
            pauseTime:6000, // How long each slide will show
            startSlide:0, // Set starting Slide (0 index)
            directionNav:true, // Next & Prev navigation
            directionNavHide:true, // Only show on hover
            controlNav:false, // 1,2,3... navigation
            controlNavThumbs:true, // Use thumbnails for Control Nav
            controlNavThumbsFromRel:true, // Use image rel for thumbs
            controlNavThumbsSearch: '.jpg', // Replace this with...
            controlNavThumbsReplace: '_thumb.jpg', // ...this in thumb Image src
            keyboardNav:true, // Use left & right arrows
            pauseOnHover:true, // Stop animation while hovering
            manualAdvance:false, // Force manual transitions
            captionOpacity:0.5, // Universal caption opacity
            prevText: '<< previous', // Prev directionNav text
            nextText: 'next >>', // Next directionNav text
            beforeChange: function(){$(".main_image").css({'opacity': '0.8',
            '-moz-opacity' : '0.8',
            'filter' : 'alpha(opacity=80)'})}, // Triggers before a slide transition
            afterChange: function(){$(".main_image").css({'opacity': '1',
            '-moz-opacity' : '1',
            'filter' : 'alpha(opacity=100)'})}, // Triggers after a slide transition
            slideshowEnd: function(){}, // Triggers after all slides have been shown
            lastSlide: function(){}, // Triggers when last slide is shown
            afterLoad: function(){} // Triggers when slider has loaded
          
          });
      });

