= simple_form_for @building, :html => {:multipart => true, :class => 'form-inline'} do |f|
  -if @building.errors.any?
    #error_explanation
      %h2= "#{pluralize(@building.errors.count, "error")} prohibited this location from being saved:"
      %ul
        - @building.errors.full_messages.each do |msg|
          %li= msg
  %hr
  #location_image_form
    -if @building.location.picture_file_name != nil
      = image_tag @building.location.picture.url.to_s
      %p#update_image
        
        %b Change the image for this building.  
        %br
        %br
        = f.simple_fields_for :location do |loc|
          -# paperclip method
          = loc.file_field :picture
    - else
      %p
        %b Upload an image for this building.  
        %br
        %br
        = f.simple_fields_for :location do |loc|
          -# paperclip method
          = loc.file_field :picture
    %hr
          
    #location_image_form
      -if @building.location.building_sign_file_name != nil
        = image_tag @building.location.building_sign.url(:medium).to_s
        %p#update_image
          %b Upload a building sign for this building.  
          %br
          %br
          = f.simple_fields_for :location do |loc|
            -# paperclip method
            = loc.file_field :building_sign
      - else
        %p
          %b Upload a building sign for this building.  
          %br
          %br
          = f.simple_fields_for :location do |loc|
            -# paperclip method
            = loc.file_field :building_sign          
  %br
  %br
  %br 
  %br
  %br
  %br
  %hr
  = f.input :building_code_heprod , :placeholder => 'Building Code'  
  #maptest
    .input
      %label
        Address:
      %input#addresspicker_map
      #map
  .form-group  
    = f.simple_fields_for :location do |loc|
      = loc.input :latitude, :as => "string", :label => "Latitude"
    
      = loc.input :longitude, :as => "string" , :label => "Longitude"
    %br
    %br
  = f.simple_fields_for :location do |loc|
    = loc.input :name
  = f.input :building_short_code, :placeholder => 'BR',:input_html => { :size => 3}
  = f.input :address, :placeholder => "1234 Main Way"
  = f.input :address2,  :placeholder => "Central Campus"
  = f.input :city,  :placeholder => "Ann Arbor", :input_html => { :value => 'Ann Arbor',:size => 25 }
  = f.input :state,  :placeholder => "MI", :input_html => { :value => 'MI',:size => 2 }
  = f.input :zip,  :placeholder => "48109-1234", :input_html => { :value => '48109', :size => 10 }
  = f.input :description,  :placeholder => "Building description"
  = f.input :history,  :placeholder => "Optional building history (if available)", :size => 40
  .actions
    = f.button :submit
     
:javascript  
  $(window).load(function(){
    var addresspicker = $( "#addresspicker" ).addresspicker();
    var addresspickerMap = $( "#addresspicker_map" ).addresspicker({
      elements: {
        map:      "#map",
        lat:      "#building_location_attributes_latitude",
        lng:      "#building_location_attributes_longitude",
        locality: '#locality',
        country:  '#country'
      }
    });
    var gmarker = addresspickerMap.addresspicker( "marker");
    gmarker.setVisible(true);
    addresspickerMap.addresspicker( "updatePosition");

    });

:javascript
   $('#maptest').gmap3({
     getgeoloc: {
       callback: function (latLng) {
         if (latLng) {
           $(this).gmap3({
             marker: {
               latLng: latLng,
               options: {
                 draggable: true
               },
               events: {
                 dragend: function (map, event) {
                   var myLatLng = event.latLng;
                   var lat = myLatLng.lat();
                   var lng = myLatLng.lng();
                   $('#classroom_location_attributes_latitude').val(lat);
                   $('#classroom_location_attributes_longitude').val(lng);
                 }
               }
             },
             map: {
               options: {
                 zoom: 17
               }
             }
           });
         } else {
           $('#test1-result').html('not localised !');
         }
       }
     }
   });
