
%h1 Listing classrooms
#rooms_search
  #rooms_search_form.span-6
    #rooms_search_results_count.round
      = @search.count
      rooms met your criteria
    #rooms_search_instructions
      Narrow your search by selecting your requirements below
    #rooms_search_instructions_extended
      Use the fields and checkboxes below to specify attributes such as minimum seating capacity, type of writing surface, and installed equipment. Then, press the Search button at the bottom to list rooms that meet your requirements.

    = form_for @search do |f|    

      = f.collection_select :location_id_equals, Location.where(:locatable_type => "Building").order("name ASC"), :id, :name, :prompt => "Limit By Building"
      %br
      = f.label :room_number
      = f.text_field :facility_code_heprod_contains, :size => 8, :placeholder => "USB2230" 
      %br

      = f.label :podium_computer
      = f.check_box :podium_computer_any_or_podium_computer_mac_or_podium_computer_windows_is_true

      %br
      = f.label :computer_classroom
      = f.check_box :computer_classroom_any_or_computer_classroom_mac_or_computer_classroom_windows_is_true
      %br
      = f.label "Video Projection"
      = f.check_box :projection_16mm_film_or_projection_35mm_file_or_projection_digital_data_video_or_projection_traditional_slide_is_true

      %br
      = f.label "DVD Player"
      = f.check_box :dvd_player_regular_or_dvd_player_blueray_is_true
      %br
      = f.label :sound_amplification
      = f.check_box :sound_amplification_is_true
      %br
      = f.label :document_camera_
      = f.check_box :document_camera_is_true
      %br
      = f.label :lecture_capture
      = f.check_box :lecture_capture_is_true
      %br
      = f.label :video_conferencing
      = f.check_box :video_conferencing_is_true

      %br
      = f.label "Minimum Capacity"
      = f.text_field :student_capacity_greater_than_or_equal_to, :size => 4, :placeholder => '250'
      %br
      <input id= "capacity_slider" type="range" min="0" max="500"  step="1" onchange="printValue('capacity_slider'
      , 'search_student_capacity_greater_than_or_equal_to')" />



  
      
      %br
      %br
      = f.label "results per page"
      = select_tag :per_page, options_for_select([10,25,50,100], @per_page.to_i) 
      %br
      = f.collection_select :owner_id_equals, 
                            Owner.order("department_name ASC"), 
                            :id,  
                            :department_name, 
                            :prompt => "Limit By Supporting Department"
      %br
      %br
      %br
      
      = f.submit  
      %br
      %br
      <input type="button" value="Reset!" ONCLICK="window.location.href='../classrooms'">
    
      %br
      %br
      
      

      -#old_classroom_db_link
        %hr{:style => "width: 200px; margin-top: 55%; "}
        = link_to "Old classroom database site", "https://old-rooms.lsa.umich.edu", :target => "_blank", :style => "color: #E6E6E6; width: 200px;"

  #rooms_results.span-17
    = render :partial => 'classroom_results'

  -#  
    #room_search_nav
      %ul
        %li
          List View
        %li
          Map View

-# Javascript to update value of student capacity text box from slider

:javascript
  function(){
    $("#slider-range").slider({
      range: true,
      min: 0,
      max: 500,
      values: [75, 300],
      slide: function(event, ui) {
        $("#amount").val( "$" + ui.values[ 0 ] + " - $" + ui.values[ 1 ] );
      }
    })
    $("#amount").val( "$" + $( "#slider-range" ).slider( "values", 0 ) +
    			" - $" + $( "#slider-range" ).slider( "values", 1 ) );
    	});
  }
:javascript
  function showValue(newValue)
  {
    document.getElementById("search_student_capacity_greater_than_or_equal_to").innerHTML=newValue;}

  function printValue(sliderID, textbox) {
              var x = document.getElementById(textbox);
              var y = document.getElementById(sliderID);
              x.value = y.value;
          }
          
          
  window.onload = function() { printValue('slider1', 'rangeValue1'); printValue('slider2', 'rangeValue2'); printValue('slider3', 'rangeValue3'); printValue('slider4', 'rangeValue4'); }


