= simple_form_for(@room_schedule_contact) do |f|
  = f.error_notification
  
  .inputs
    = f.input :RMRECNBR
    = f.input :RM_SCHD_CNTCT_NAME
    = f.input :RM_SCHD_EMAIL
    = f.input :RM_SCHD_CNTCT_PHONE
    = f.input :RM_DET_URL
    = f.input :RM_USAGE_GUIDLNS_URL

  .actions
    = f.button :submit


Batch update