#contact_sheet
  %b Department Name:
  = @owner.department_name
  %br
  %br
  %b Support Contact:

  = @owner.department_name
  ==> 
  = link_to @owner.contact_email, "mailto:"+@owner.contact_email
  %br
  %br
  %b Contact Phone:
  = @owner.contact_phone
  %br
  %br
  %b Room Schedule:
  = link_to "View Room Schedule", "https://heprod.dsc.umich.edu/services/facilitycalendar?facilityid=#{@classroom.facility_code_heprod }", :target => "_blank"
  %br
  %br
  %b Room Usage Guidelines: 
  None Available.  
  %br
  %br
  %b Floor Map: 
  #{link_to @classroom.location.name,  basement}