%footer
  %nav.round
    %ul.footer_links
      %li
        = link_to "Home", root_path
      %li
        = link_to "About", about_path
      %li
        = link_to "Classrooms", classrooms_path
      %li
        = link_to "FAQs", faq_path
      %li
        = link_to "Support", help_path
      %li
        = link_to "LSA - ISS", 'http://lsa.umich.edu/iss', :target => '_blank'
        
      %li
        - if user_signed_in?
          = link_to "Sign out",  destroy_user_session_path, :method => 'delete'  
          = current_user.email


        - else
          = link_to "Sign in", new_user_session_path


  %p
    = link_to "Copyright The Regents of the University of Michigan, 2011", "http://www.umich.edu", :target => '_blank'

  %br
    

   


= yield :scripts