.navbar#header
  .navbar-inner
    .container
      %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      .accessible
        <a href="#content">Skip to main content</a>
        <a href="#main_nav">Skip to navigation</a>
      = link_to logo, root_path, :class => 'brand', :id => 'logo' 
      .nav-collapse
        %ul.nav#main_nav
          %li
            =link_to "Home", root_path
          
          %li
            = link_to "About", about_path
          %li
            = link_to "Classrooms", classrooms_path
          %li
            = link_to "FAQs", faq_path

          %li
            = link_to "Support", support_path
          -#%li
            = link_to "Bootstrap", bootstrap_samples_path  
       
          
         


              